// @keyframes fadeIn {
//     0% { opacity: 0; }
//     100% { opacity: 1; }
// }

// .card {
//     background-color: rgb(118, 122, 52);
//     border: 1px solid hsl(55, 86%, 56%);
//     box-shadow: 5px 6px 7px hsl(60, 23%, 64%);
//     margin: 10px;
//     padding: 10px;
//     width: auto;
//     text-align: center;
//     margin-top: 70px;
//     width: 350px;
//     height: 350px;
//     display: inline-block;
//     justify-content: space-evenly;
//     transform: translateX(60%);
//     animation: fadeIn 1s 1s backwards;

//     .card-img {
//         width: auto;
//         margin-bottom: -10px;
//     }

//     .card-heading {
//         font-size: 30px;
//         color: #ffd700;
//         font-family: 'Tiny5';
//     }

//     // .card-p {
//     //     font-size: 20px;
//     //     font-family: 'Tiny5';
//     //     color: white;
//     // }
// }

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 5em;
}

.card {
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#00dbde,#fc00ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#00dbde,#fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  margin: 10px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card h3 {
  margin: 16px 0;
  font-size: 1.5rem;
  color: #333;
}

.card a {
  display: inline-block;
  margin: 16px 0;
  padding: 8px 16px;
  background: #beef00;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.card a:hover {
  background-color: #9dc308;
  color: white;
}

@media (min-width: 600px) {
  .card {
    flex: 0 1 calc(50% - 40px);
  }
}

@media (min-width: 900px) {
  .card {
    flex: 0 1 calc(33.333% - 40px);
  }
}
